$primary-color: #3498db;
$secondary-color: #2c3e50;
$light-bg: #f4f4f4;
$dark-bg: #1e1e1e;
$text-light: #333;
$text-dark: #f4f4f4;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $light-bg;
  color: $text-light;
  transition: all 0.3s ease-in-out;
}

// Dark mode styles
.dark-mode {
  background-color: $dark-bg;
  color: $text-dark;
}